* {
    font-family: "Roboto" sans-serif;
    font-size: large;
    color: rgba(0, 0, 1, 1);
  }
  [data-theme = 'light'] {
    --svgBackClr: aliceblue;
    --topbackclr: #ffffff;
    --white:  #ffffff;
    --bxShadowblr: rgba(0, 0, 1, 0);
    --butnTxtclr: #C0C0C0;
 }
 
  [data-theme = 'dark'] {
    --svgBackClr: #0a0a0a;
    --topbackclr: #292b2c;
    --white: #292b2c;
    --TxtFontXClr: #C0C0C0;
    --butnTxtclr: #C0C0C0;
    --bxShadowblr: rgba(0, 0, 255, 0);
 }
 
  /* Default Styles for mobile devices */
  .calcparent {
    background-color: var(--topbackclr);
    height: 110vh;
    position: relative;
  }

  .back {
    padding-left: 10px !important;
    color: gainsboro;
    text-decoration: solid;
    font-size: .9rem !important;
    position: relative;
    top: 50px;
    font-size: small !important;
  }

  [class="fa-solid fa-chevron-left"] {
    font-size: small !important;
    line-height: 10px;
  }

    .cont {
      position: relative;
      top: 51px;  
      display: grid;
      max-height: 88vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      border: 1px solid var(-);  
      border-radius: 10px;
      box-shadow: 0px 0px 0px var(--bxShadowblr);
      overflow: hidden;
      z-index: 10;
      background-color:var(--white);
      transition: all .5s ease;
    }
    .fullCont {
      position: relative;
      top: 51px;  
      display: grid;
      max-height: 88vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;      
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      border: 1px solid var(-);  
      border-radius: 10px;
      box-shadow: 0px 0px 0px var(--bxShadowblr);
      overflow: hidden;
      z-index: 10;
      background-color:var(--white);
      transition: all 1s ease;
    }   
    input {
      height: 15vh;
      width: auto;
      margin: 0;
      border: solid 0px grey;
      border-radius: 5px;
      font-size: 200%;
      color: rgba(127, 255, 212, 0.8);
    }
    button { 
      background-color: rgba(127, 255, 212, 1);
      border: none;
      box-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 1, 0.2);
      margin-top: 2.5%;
      font-size: 1.5em;
      color: #0a0a0a;
    }
    .butns {
      border-radius: 40%;
      width: 92.5%;
      height: 92.5%;
      background-color: rgba(127, 255, 212, 0.75);
    }
    .butnc {
      border-radius: 50% !important;
      width: 95%;
      height: 95%;
      background-color:#C0C0C0 ;
    }
    .inputField {
      grid-area: 1/1/2/5;    
    }

    .topKeys {
      background-color:#e2e0e0 ;
      border-radius: 50%;
      width: 75% !important;
      height: 75% !important;
      margin: 12.25%;
    }
  
    .butnPie {
      grid-area: 2/1/3/2;
    }
    .shiftLeft {
      grid-area: 2/2/3/3;
    }
    .shiftRight {
      grid-area: 2/3/3/4;
    } 
    .chevDown {
      grid-area: 2/4/3/5;

      z-index: 1;
      transition: all .5s ease;
    }
    .chevUp {
      grid-area: 2/4/3/5;
      z-index: -1;
      border-radius: 50% !important;
      width: 95%;
      height: 95%;
      background-color:#C0C0C0 ;    
    }
    
    .overlayChev {
      z-index: 10 !important;
    }
    
    .butnAC {
     background-color: rgb(254,8,10);
    }
    .butnHist {
      display: block !important;
      color: rgb(1, 66, 1) !important;
    }

    .butnEqual {
      background-color: rgb(162, 253, 253);
      color: rgb(1, 66, 1);
    }

    .bracOpen {
      grid-area: 3/1/4/2;
    }
    .bracClose {
      grid-area: 3/2/4/3;
    }
    .powerButn {
      grid-area: 3/3/4/4;
    }
    .sqrButn {
      grid-area: 3/4/4/5;
    }

    .butnFact {
      grid-area: 4/1/5/2;
    }
    .butnSqrt {
      grid-area: 4/2/5/3;
    }
    .butnCbrt {
      grid-area: 4/3/5/4;
    }
    .butnExp {
      grid-area: 4/4/5/5;
    }

    .butnEuler {
      grid-area: 5/1/6/2;
    }
    .butnNatLog {
      grid-area: 5/2/6/3;
    }
    .butnLog {
      grid-area: 5/3/6/4;
    }
    .butnInvert {
      grid-area: 5/4/6/5;
    }

    .butnSine {
      grid-area: 6/1/7/2;
    }
    .butnCos {
      grid-area: 6/2/7/3;
    }
    .butnTan {
      grid-area: 6/3/7/4;
    }
    .butnDEG {
      grid-area: 6/4/7/5;
    }

    .butnSineI {
      grid-area: 6/1/7/2;
    }
    .butnCosI {
      grid-area: 6/2/7/3;
    }
    .butnTanI {
      grid-area: 6/3/7/4;
    }
    .butnRAD {
      grid-area: 6/4/7/5;
    }

    .butnCosec {
      grid-area: 7/1/8/2;
      font-size: 1em !important;
    }
    .butnSec {
      grid-area: 7/2/8/3;
    }
    .butnCot {
      grid-area: 7/3/8/4;
    }
    .butnHyp {
      grid-area: 7/4/8/5;
    }

    .butnHid {
      display: none;
      transition: all .5s ease;
    }
    .butnShow {
      display: block;
      margin: 1% !important;
      background-color: var(--topbackclr);
      color: var(--butnTxtclr);
      border-radius: 30%;
      transition: all .5s ease;
    }
    
    .RadHide {
      color: purple;
      z-index: -4;
    }
    .RadShow {
      z-index: 6 ;
    }
    .DegHide {
          z-index: -6;
    }
    
    
    .invButns {
      z-index: -3;
    }
    .invsButnsShow {
      z-index: 12 !important;
    }
    .trigButns {
      z-index: 2;
    }
    .trigButnsHide {
      z-index: -4;
    }
    .butInvs {
      display: none;
    }

    .name {
      color: aquamarine;
    }
    .gb {
      color: #dcdcdc;
    }

    .hid {
      position: relative;
      left: -100%;
      filter: blur(5px);
      min-width: auto;
    }
    .rev {
      position: relative;
      left: 0;
      filter: blur(0);
      transition: left 1s;
    }

  /* for Meduim size devices ( Tablets ) */
  @media screen and (min-width: 768px) {
    .calcparent {
      width: auto ;
    }
    .calccont {
      display: grid;
      place-items: center;
      position: relative;
    }
    .cont {
      top: 7.5vh;  
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr !important;
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.2);
      width: 100% ; 
      max-height: 90vh;
      padding: 0 ;
    }

    .item1 {
      grid-area: 1/1/2/10;
    }

    .mathPie {
      grid-area: 2/5/3/6 !important;
    }

    .shiftLeft {
      grid-area: 2/6/3/7 !important;
    }
    .shiftRight {
      grid-area: 2/7/3/8 !important;
    }

    .butInvs {
      grid-area: 2/8/3/9 !important;
    }

    .butnHist {
      grid-area: 2/9/3/10;
    }
    .but1 {
      grid-area: 3 /9/4/10 ;
      background-color: rgb(254,8,10);
    }
    .but2 {
      grid-area: 3 /9/4/10;
      display: none;
    }
    .butpercent {
      grid-area: 4/9/5/10;
    }
    .but4 {
      grid-area: 3 /8/4/9 ;
    }

    .butTimes {
      grid-area: 4 /8/5/9 ;
    }

    .butPlus {
      grid-area: 5 /8/6/9 ;
    }
    .butMinus {
      grid-area: 6 /8/7/9 ;
    }

    .butClear {
      grid-area: 6/7/7/8;
    }
    .butnZero {
      grid-area: 6/6/7/7;
    }
    .butPoint {
      grid-area: 6/5/7/6;
    }

    .butEqual {
      grid-area: 5/9/7/10;
      border-radius: 15% !important;
      background-color: rgb(108,225,203);
    }

    .itemsF1 {
      grid-area:  2 / 1/ 3/ 2 ;
    }.itemsF2 {
      grid-area: 2 / 2/ 3/ 3 ;
    }
    .itemsF3 {
      grid-area: 2 / 3/ 3/ 4 ;
    }
    .itemsF4 {
      grid-area: 2 /4 / 3/ 5 ;
    }
    
    .itemsF5 {
      grid-area: 3 / 1/ 4/ 2  ;
    }
    .itemsF6 {
      grid-area: 3 / 2/ 4/ 3 ;
    }
    .itemsF7 {
      grid-area: 3 / 3/ 4/ 4 ;
    }
    .itemsF8 {
      grid-area: 3 / 4/ 4/ 5 ;
    }

    .itemsF9 {
      grid-area: 4 /1 / 5/ 2 ;
    }
    .itemsF10 {
      grid-area: 4 /2 / 5/ 3 ;
    }
    .itemsF11 {
      grid-area: 4 /3 / 5/ 4 ;
    }
    .itemsF12 {
      grid-area: 4 /4 / 5/ 5 ;
    }
    
    .itemsF13 {
      grid-area: 5 /1 / 6/ 2 ;
    }
    .itemsF14 {
      grid-area: 5 /2 / 6/ 3 ;
    }
    .itemsF15 {
      grid-area: 5 /3 / 6/ 4 ;
    }
    .itemsF16 {
      grid-area: 5 /4 / 6/ 5;
    }
    .sinInv {
      grid-area: 5/1/6/2;
    }
    .cosInv {
      grid-area: 5/2/6/3;
    }
    .tanInv {
      grid-area: 5/3/6/4;
    }
    .RadToggle {
      grid-area: 5 /4 / 6/ 5;
      color: purple !important;
      z-index: 6;
    }

    .butnHid {
      display: block;
      background-color: var(--topbackclr);
      color: var(--butnTxtclr);
      border-radius: 30%;
      transition: all .5s ease;
    }
    .chevUp {
      display: none;
    }
    .showAll {
      display: none;
    }
    button { 
      background-color: aquamarine;
      border: none;
      border-radius: 2px;
      box-shadow: 5px 5px 5px rgba(0, 0, 1, 0.2);
    }
  }

  @media screen and (min-width: 1000px) {
    .calcparent {
      background-color: var(--topbackclr);
      padding-top: 7vh !important;
    }
    .back {
      z-index: 100;
      position: relative;
      top: 8vh;
      font-size: small !important;
    }
    .cont {
      top: 7.5vh;  
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.2);
      padding: 1em;
      width: 80%; 
      max-height: 75vh;
    }

    .butnHid {
      display: block;
    }

  }

