* {
    font-family: "Roboto" sans-serif;
    font-size: large;
  }

  [data-theme = 'light'] {
    --svgBackClr: aliceblue;
    --topbackclr: #ffffff;
    --contwhite:  #ffffff;
    --grey: #7A7A7A;
    --aquamFont: #0C645B;
    --iconclr: #535557;
    --bxShadowblr: rgba(0, 0, 1, 0);
    --butnTxtclr: #C0C0C0;
 }
 
  [data-theme = 'dark'] {
    --svgBackClr: #0a0a0a;
    --topbackclr: #292b2c;
    --contwhite: #0a0a0a;
    --TxtFontXClr: #C0C0C0;
    --butnTxtclr: #C0C0C0;
    --bxShadowblr: rgba(0, 0, 255, 0);
 }

  /* Default Styles for mobile devices */
  .calcparent {
    background-color: var(--topbackclr);
    height: 110vh;
    position: relative;
  }

  .back {
    padding-left: 10px !important;
    color: var(--grey);
    text-decoration: solid;
    font-size: .9rem !important;
    position: relative;
    top: 50px;
    font-size: small !important;
  }

  [class="fa-solid fa-chevron-left"] {
    font-size: small !important;
    line-height: 10px;
  }

  #history {
    background-color: #C0C0C0;
    box-shadow: 0px 0px 0px var(--bxShadowblr);
    padding: 0;
    margin: 5%;
  }
  .hideHistory {
    transition: all .5s ease;
    position: absolute;
    top: 32vh;
    left: -3.5%;
    z-index: 100;
    height: 0 !important;
    width: 0 !important;
    border-radius: 5%;
    overflow-y: scroll !important;
  }
  .showHistory {
    transition: all .5s ease;
    position: absolute;
    top: 32vh;
    left: -3.5% ; 
    z-index: 100;
    height: 60vh;
    width: 87% !important; 
    padding: 5% !important;
    border-radius: 5% !important;
    overflow-y: scroll !important;
  }
  .historyItem > p {
    font-size: 120% !important;
    text-decoration: none;    
    color: #7fffd4;
  }

  .entered-expression {
    color: #0C645B !important;
  }
  .precise-result {
    color: #e2e0e0 !important;  
    background-color: transparent;
  }

    .cont {
      position: relative;
      top: 51px;  
      display: grid;
      max-height: 88vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      border: 1px solid var(-);  
      border-radius: 10px;
      box-shadow: 0px 0px 0px var(--bxShadowblr);
      overflow: hidden;
      z-index: 10;
      background-color:var(--contwhite);
      transition: all .5s ease;
      margin: 2%;
    }
    .fullCont {
      position: relative;
      top: 51px;  
      display: grid;
      max-height: 88vh;
      grid-template-columns: 1fr 1fr 1fr 1fr;      
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      border: 1px solid var(-);  
      border-radius: 10px;
      box-shadow: 0px 0px 0px var(--bxShadowblr);
      overflow: hidden;
      z-index: 10;
      background-color:var(--contwhite);
      transition: all 1s ease;
      margin: 1%;
    }    
     .virtualInputField {
    position: absolute;
    top: 0 !important;
    width: 100% !important;
    height: 17vh;
    padding: 0;
    background-color: #C0C0C0;
    border-radius: 5px;
    }
    .enteredExpressionInp {
      font-size: 150%;
      color: #0C645B;
      padding: 0.25em 0.5em;
      margin: 0.3em 0.5em;
    }
    .preciseResultInp {
      font-size: 150%;
      color: #e2e0e0;
      padding: 0.25em 0.5em;
      margin: 0.3em 0.5em;  
    }


    input {
      height: 15vh;
      width: auto;
      margin: 0;
      border: solid 0px grey;
      border-radius: 5px;
      font-size: 250%;
      color: rgba(127, 255, 212, 0.8);
      visibility: hidden;
    }
    button { 
      border: none;
      box-shadow: 1px 0px 1px rgba(0, 0, 1, 0.2);
      margin-top: 0;
      font-size: 1.5em;
      color: #0a0a0a;
    }
    .butnClicked {
      opacity: 0.5;
    }
    
    .butns {
      border-radius: 40%;
      width: 92.5%;
      height: 92.5%;
      background-color: #A1A1A1;
      color: #0a0a0a;
    }
    .butnc {
      border-radius: 50% !important;
      width: 95%;
      height: 95%;
      background-color: rgba(42, 125, 120, 0.9);
      color: #CFCFCF;
      font-weight: 300 !important;

    }
    .butnHid {
      display: none;
      transition: all .5s ease;
    }
    .butnShow {
      display: block;
      margin: .5% !important;
      background-color: var(--contwhite);
      color: var(--butnTxtclr);
      border-radius: 30%;
      transition: all .5s ease;
      box-shadow: none !important;
    }

    .inputField {
      grid-area: 1/1/2/5;    
    }

    .topKeys {
      background-color: var(--contwhite);
      border-radius: 60%;
      width: 50% !important;
      height: 50% !important;
      margin: 0 !important;
      padding: 0 !important;
      box-shadow: none !important;
      position: relative;
      top: 30% !important;
      left: 20%;
    }
  
    .shiftLeft {
      grid-area: 2/2/3/3;
      padding-bottom: 10% !important;
      color: #535557;
    }
    .shiftRight {
      grid-area: 2/3/3/4;
      padding-bottom: 10% !important;
      color: #535557;
    } 
    .chevDown {
      grid-area: 2/4/3/5;
      z-index: 1;
      transition: all .5s ease;
    }
    .chevUp {
      grid-area: 2/4/3/5;
      z-index: -1;
      border-radius: 50% !important;
      width: 95%;
      height: 95%;
    }
    
    .overlayChev {
      z-index: 10 !important;
    }
    
    .butnAC {
     background-color: rgb(254,8,10);
    }
    .butnHist {
      grid-area: 2/1/3/2;
      display: block !important;
      color: rgb(1, 66, 1) !important;
    }

    .butnEqual {
      background-color: #a2fdfd;
      color: rgb(1, 66, 1);
    }

    .bracOpen {
      grid-area: 3/1/4/2;
    }
    .bracClose {
      grid-area: 3/2/4/3;
    }
    .powerButn {
      grid-area: 3/3/4/4;
    }
    .sqrButn {
      grid-area: 3/4/4/5;
    }

    .butnFact {
      grid-area: 4/1/5/2;
    }
    .butnSqrt {
      grid-area: 4/2/5/3;
    }
    .butnCbrt {
      grid-area: 4/3/5/4;
    }
    .butnExp {
      grid-area: 4/4/5/5;
    }

    .butnEuler {
      grid-area: 5/1/6/2;
    }
    .butnNatLog {
      grid-area: 5/2/6/3;
    }
    .butnLog {
      grid-area: 5/3/6/4;
    }
    .butnInvert {
      grid-area: 5/4/6/5;
      font-size: 1.2em !important;

    }

    .butnSin {
      grid-area: 6/1/7/2;
      font-size: 1.2em !important;
    }
    .butnCos {
      grid-area: 6/2/7/3;
      font-size: 1.2em !important;
    }
    .butnTan {
      grid-area: 6/3/7/4;
      font-size: 1.2em !important;
    }
    .butnDEG {
      grid-area: 6/4/7/5;
      color: rgb(69, 69, 99) !important;
    }

    .butnArcSin {
      grid-area: 6/1/7/2;
      font-size: 1.2em !important;

    }
    .butnArcCos {
      grid-area: 6/2/7/3;
      font-size: 1.2em !important;

    }
    .butnArcTan {
      grid-area: 6/3/7/4;
      font-size: 1.2em !important;

    }
    .butnRAD {
      grid-area: 6/4/7/5;
    }

    .butnCsc {
      grid-area: 7/1/8/2;
      font-size: 1.2em !important;
    }
    .butnSec {
      grid-area: 7/2/8/3;
      font-size: 1.2em !important;

    }
    .butnCot {
      grid-area: 7/3/8/4;
      font-size: 1.2em !important;

    }
    .butnHyp {
      grid-area: 7/4/8/5;
      font-size: 1.2em !important;
    }

    .butnSinh {
      grid-area: 6/1/7/2;
      font-size: 1.2em !important;
    }
    .butnCosh {
      grid-area: 6/2/7/3;
      font-size: 1.2em !important;
    }
    .butnTanh {
      grid-area: 6/3/7/4;
      font-size: 1.2em !important;
    }

    .butnArcCsc {
      grid-area: 7/1/8/2;
      font-size: 1.2em !important;
    }
    .butnArcSec {
      grid-area: 7/2/8/3;
      font-size: 1.2em !important;

    }
    .butnArcCot {
      grid-area: 7/3/8/4;
      font-size: 1.2em !important;
    }

    .butnCsch {
      grid-area: 7/1/8/2;
      font-size: 1.2em !important;
    }
    .butnSech {
      grid-area: 7/2/8/3;
      font-size: 1.2em !important;

    }
    .butnCoth {
      grid-area: 7/3/8/4;
      font-size: 1.2em !important;
    }

    
    .RadHide {
      color: purple;
      z-index: -4;
    }
    .RadShow {
      z-index: 6 ;
    }
    .DegHide {
      z-index: -6;
    }
    
    .trigButns {
      z-index: 2;
    }
    .trigButnsHide {
      z-index: -4;
    }

    .invButns {
      z-index: -3;
    }
    .invsButnsShow {
      z-index: 4 !important;
    }
    .invClr {
      color: rgb(247, 177, 189) !important;
    }

    .hypHide {
      z-index: -8;    
    }
    .hypShow {
      z-index: 6 !important;
    }
    .hypHighlgt {
      color: rgb(56, 100, 56);
    }

    .butInvs {
      display: none;
    }

    .butnAns {
      display: none;
      color: rgb(243, 71, 9);
    }

    .name {
      color: aquamarine;
    }
    .gb {
      color: #dcdcdc;
    }

    .hid {
      position: relative;
      left: -100%;
      filter: blur(5px);
      min-width: auto;
    }
    .rev {
      position: relative;
      left: 0;
      filter: blur(0);
      transition: left 1s;
    }

    @media screen and (min-width: 1024px) and (min-height: 768px) {
      .cont {
        max-height: 85.5vh !important;
      }
      .topKeys {
        top: 20% !important;
        left: 3%;
      }
  @media screen and (min-width: 1000px) {
    .calcparent {
      width: 100%;
      height: fit-content;
      
    }
    .calccont {
      min-height: 100vh !important;
    }
    .back {
      top: -0.5vh !important;
    }
    .cont {
      top: -2.2%;  
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr !important;
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 1, 0.2);
      width: auto; 
      max-height: 78vh;
      padding: 0.5% 0 1.5% 0;
      margin: 2% !important;
      background-color: var(--contwhite);
    }

    .inputField {
      grid-area: 1/1/2/10;
    }

    .hideHistory {
      transition: all .5s ease ;
      transform-origin: right;
      transform: scale(0, 0) !important;
      position: absolute;
      top: 27.5vh;
      left: -50% !important;
      z-index: 100;
      height: 20%;
      width: 20%;
      border-radius: 15px;
      overflow-y: scroll !important;
    }
  
    .showHistory {
      transform-origin: top left !important;
      transform: scale(1, 1)!important;
      transition: all .5s ease;
      position: absolute;
      top: 23vh !important;
      left: -3.5% !important; 
      z-index: 100 !important;
      height: 60vh !important;
      width: 32.5% !important; 
      overflow-y: scroll !important;
    }  

    button { 
      background-color: aquamarine;
      border: none;
      border-radius: 2px;
      box-shadow: 5px 5px 5px rgba(0, 0, 1, 0.2);
    }

    .butns {
      box-shadow:  5px 5px 5px rgba(0, 0, 1, 0.2) !important;
      height: 85% !important;
      width: 90% !important;
      margin-top:  15%;
      margin-left: 2%;
    }

    .butnHid {
      display: block;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 1, 0.2);
      background-color: var(--topbackclr);
      color: var(--butnTxtclr);
      border-radius: 40%;
      height: 85% !important;
      width: 90% !important;
      transition: all .5s ease;
    }

    .topKeys {
      background-color:#e2e0e0 ;
      border-radius: 45% !important;
      height: 85% !important;
      width: 90% !important;
      margin-left: 0% !important;
      position: relative;
      top: 25%;
      left: 3%;
    }

    .chevUp {
      display: none;
    }
    .chevDown {
      display: none;
    }
    .showAll {
      display: none;
    }

    .butnPie {
      grid-area: 2/9/3/10 !important;
      display: block !important;
      color: rgb(1, 66, 1) !important;
    }
    .shiftLeft {
      grid-area: 2/6/3/7 !important;
    }
    .shiftRight {
      grid-area: 2/7/3/8 !important;
    }

    .butInvs {
      grid-area: 2/8/3/9 !important;
    }

    .butnHist {
      grid-area: 2/5/3/6;
    }
    .butnAC {
      grid-area: 3 /9/4/10 ;
      background-color: rgb(254,8,10);
    }
    .butnPercent {
      grid-area: 4/9/5/10;
    }

    .butnDivide {
      grid-area: 2/8/3/9;
    }
    .butnTimes {
      grid-area: 3 /8/4/9 ;
    }
    .butnPlus {
      grid-area: 4 /8/5/9 ;
    }
    .butnMinus {
      grid-area: 5 /8/6/9 ;
    }

    .butnAns {
      grid-area: 5/9/6/9;
      border-radius: 50% !important;
      width: 95%;
      height: 95%;
      background-color: #C0C0C0 !important;
      color: #0a0a0a !important;
      margin-top: 10% !important;
    }

    .butnClear {
      grid-area: 6/7/7/8;
    }
    .butnZero {
      grid-area: 6/6/7/7;
    }
    .butnPoint {
      grid-area: 6/5/7/6;
    }

    .butnEqual {
      grid-area: 6/8/7/10;
      border-radius: 15% !important;
      background-color: rgb(108,225,203);
      margin-top: 10%;
      height: 77% !important;
      width: 90% !important;
    }

    .bracOpen {
      grid-area:  2 / 1/ 3/ 2 ;
    } 
    .bracClose{
      grid-area: 2 / 2/ 3/ 3 ;
    }
    .powerButn {
      grid-area: 2 / 3/ 3/ 4 ;
    }
    .sqrButn {
      grid-area: 2 /4 / 3/ 5 ;
    }
    
    .butnFact {
      grid-area: 3 / 1/ 4/ 2  ;
    }
    .butnSqrt {
      grid-area: 3 / 2/ 4/ 3 ;
    }
    .butnCbrt {
      grid-area: 3 / 3/ 4/ 4 ;
    }
    .butnExp {
      grid-area: 3 / 4/ 4/ 5 ;
    }

    .butnEuler {
      grid-area: 4 /1 / 5/ 2 ;
    }
    .butnNatLog {
      grid-area: 4 /2 / 5/ 3 ;
    }
    .butnLog {
      grid-area: 4 /3 / 5/ 4 ;
    }
    .butnInvert {
      grid-area: 4 /4 / 5/ 5 ;
    }
    
    .butnSin {
      grid-area: 5 /1 / 6/ 2 ;
    }
    .butnCos {
      grid-area: 5 /2 / 6/ 3 ;
    }
    .butnTan {
      grid-area: 5 /3 / 6/ 4 ;
    }
    .butnDEG {
      grid-area: 5 /4 / 6/ 5;
    }

    .butnSinh {
      grid-area: 5 /1 / 6/ 2 ;
    }
    .butnCosh {
      grid-area: 5 /2 / 6/ 3 ;
    }
    .butnTanh {
      grid-area: 5 /3 / 6/ 4 ;
    }

    .hypHighlgt {
      color: rgb(56, 100, 56) !important;
    }

    .butnArcSin {
      grid-area: 5/1/6/2;
    }
    .butnArcCos {
      grid-area: 5/2/6/3;
    }
    .butnArcTan {
      grid-area: 5/3/6/4;
    }

    .butnRAD {
      grid-area: 5 /4 / 6/ 5;
      color: purple !important;
      z-index: -6;
    }

    .butnCsc {
      grid-area: 6/1/7/2;
    }
    .butnSec {
      grid-area: 6/2/7/3;
    }
    .butnCot {
      grid-area: 6/3/7/4;
    }

    .butnArcCsc {
      grid-area: 6/1/7/2;
    }
    .butnArcSec {
      grid-area: 6/2/7/3;
    }
    .butnArcCot {
      grid-area: 6/3/7/4;
    }

    .butnCsch {
      grid-area: 6/1/7/2;
    }
    .butnSech {
      grid-area: 6/2/7/3;
    }
    .butnCoth {
      grid-area: 6/3/7/4;
    }

    .butnHyp {
      grid-area: 6/4/7/5;
    }
  }

