body[data-theme = 'light'] {
  --menuCard: rgba(247, 246, 246, 0.8);
  --svgBackClr: aliceblue;
  --topbackclr: #ffffff;
  --sliderBack:  #CFCFCF;
  --footBackclr: rgba(229, 229, 229, 0.5);
}
body[data-theme = 'dark'] {
  --aquamFont: #70FFCF;
  --grey: #C9C9C9;
  --svgBackClr: #282C34;
  --topbackclr: #080808;
  --white: #292b2c;
  --TxtFontXClr: #C0C0C0;
  --footBackclr: rgba(64, 64, 64, 0.5);
}


.wrapper {
    padding: 13px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sliderBack);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #0C645B;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
    background-color: #0a0a0a;

  }
  input:checked + .slider {
    background-color: var(--aquamFont);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--aquamFont);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }