@tailwind base;
@tailwind components;
@tailwind utilities;

.search-icon {
    padding: 10px 10px 10px 40px; /* Add padding to the left to leave space for the icon */
    font-size: 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 16 16'%3E%3Cpath d='M12.9 11.8c-.6-.6-.8-1.4-.5-2.2a5.7 5.7 0 0 0-4.8-8.1 5.7 5.7 0 0 0-5.7 5.7c0 3.2 2.5 5.7 5.7 5.7.8 0 1.6-.2 2.2-.5l3.7 3.7a.6.6 0 0 0 .9-.9l-3.7-3.7ZM8 12a4.5 4.5 0 1 1 0-9 4.5 4.5 0 0 1 0 9Z'/%3E%3C/svg%3E")
      no-repeat 10px center;
    background-size: 16px; /* Adjust icon size */
  }

