@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
font-family: "Roboto", sans-serif;
font-weight: 100;
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
:root {
   --menuBar: #ffffff;
   --aquamFont: #0C645B;
   --grey: #7A7A7A;
   --iconclr: #535557;
   --boxShadowClr: #0000001a;
   --svgBackClr: #FAFCFF;
   --topbackclr: #ffffff;
   --white:  #ffffff;
   --TxtFontXClr: #0a0a0a;
   --hideContent: none;
}
body[data-theme = 'light'] {
   --menuCard: rgba(247, 246, 246, 0.8);
   --svgBackClr: aliceblue;
   --topbackclr: #ffffff;
   --white:  #ffffff;
   --footBackclr: rgba(229, 229, 229, 0.5);
}
body[data-theme = 'dark'] {
   --menuCard: rgba(10, 10, 10, 0.8);
   --menuBar: #080808;
   --aquamFont: #70FFCF;
   --grey: #C9C9C9;
   --svgBackClr: #282C34;
   --topbackclr: #080808;
   --white: #292b2c;
   --TxtFontXClr: #C0C0C0;
   --footBackclr: rgba(64, 64, 64, 0.5);
}
.scrlStatus {
   height: 0.125em;
   position: fixed;
   padding: 0;
   top: 51px;
   z-index: 100;
   background-color: var(--aquamFont);
   width: 100%;
   scale: 0 1;
   transform-origin: left;
   animation: scrlStatus linear;
   animation-timeline: scroll();
}
@keyframes scrlStatus {
   to {
      scale: 1 1;
   } 
}
.blr {
   filter: blur(5px);
}
.gb, i,.scrl { 
   color:var(--grey) !important;
}

#txt {
   font-size: 1.5rem !important;
}

svg {
   stroke: var(--iconclr);
   fill: var(--iconclr);
   stroke-width: 0;
   height: 1em;
   width: 1em;
   margin-right: 1.5%;
   font-weight: 100 !important;
}

/* for  standard mobile devices 420px down */
.headr {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0 !important;
    width: 100%;
    height: 50.78px;
    padding: 0;
    margin: 0;
    z-index: 100 !important;
    background-color: var(--topbackclr);
  }

.drk {
   background-color: var(--aquamFont);
   height: fit-content;
   border: solid 1px var(--grey);
   border-radius: .5em ;
   padding: .6em;
}
#slsh {
   color: var(--grey);
}

#nme {
   padding: 0.8em;
   color: var(--aquamFont);
   z-index: -1;
}
.nmePosit {
   margin-right: auto !important;
}
.nmeHide {
   opacity: 0;
   transform: translateY(2vh) !important;
   transition: all 1ms;
}
.nmeShow {
   opacity: 1;
   transform: translateY(0) !important;
   transition: transform 1s ease-out;
}
.nmeFShow {
   opacity: 1 !important;
   transform: translateY(0) !important;
   transition: transform 1s ease-out;
}

#icn {
   padding: 0.8em;
   z-index: 300 ;
}
.icon-style {
   color: aquamarine !important;
 }
  /* menu styles */
 img.propic {
   width: 75px !important; 
   height: 75px !important;
   border-radius: 50% !important;
   margin: 5px;
   z-index: 100 !important;
 }
.menurev {
   position: fixed;
   top: 2.8em;
   width: 93.25% !important;
   height: 100vh;
   background-color: var(--menuBar);
   transition: right 1s;
   z-index: 200;
   padding-inline: 1rem;
}
.lnk {
   margin-left: 2%;
   padding-left: 3.5% !important;
   font-size: 1.5em !important;
}
.menupc {
   background-color: var(--white) !important;
}
.hide {
   right: -115%;
}
.show {
   right: 0;
}
.menurev a {
   display: block;
   color: var(--aquamFont);
   text-decoration: none;
   padding: 0.2em;
}
.morecon { 
   margin-left: 10px !important;
   max-height: 0;
   transition: max-height .5s ease-out;
   overflow: hidden;
   padding:0;
}
.moreconv { 
   max-height: fit-content !important;
   transition: max-height .5s ease-in;
}
#chev {
   font-size: 0.8em !important;
   cursor: pointer;
   color: var(--iconclr);
   float: right;
   display: none;
}
.more {
   color: var(--grey) !important;
   font-size: 1em;
}
.morecon a:hover hr {
   color: var(--svgBackClr) !important;
}
 hr:hover {
   color: var(--svgBackClr) !important;
 }
    /* end of menu styles */

 /* swooping animation */
.hid {
   position: relative;
   left: -100%;
   filter: blur(5px);
   min-width: auto;
}
.rev {
   position: relative;
   left: 0;
   filter: blur(0);
   transition: left 1s;
}

/* main content section*/
.maincon { 
   color:var(--aquamFont);
   background-color: var(--topbackclr) !important;
   transform: translateY(0);
   width: 100%;
   position: relative;
   top: 0;
   padding-top: 20vh;
   margin: 0;
}
.cent {
   margin-left: 5px;
   margin-right: 5px ;
}
.gtxt {
  color: var(--aquamFont) !important;
  font-size: 3.2em !important;
}
.utxt {
   color: var(--aquamFont);
   font-size: 1.2em;
   z-index: 100;
}
/* svg section*/
.sect-1 {
   position: relative;
   bottom: -5px;
 }
 .sect-2 {
   position: relative;
   width: auto;
   background-color: var(--svgBackClr);
   min-height: 50px;
   padding-top: 4vh;
 }
 .sect-3 {
   position: relative;
   top: -2.5px;
   background-color: var(--svgBackClr);
 }

 .custom-shape-divider-bottom-1713287430 {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     overflow: hidden;
     line-height: 0;
     z-index: -1;
 }
 .custom-shape-divider-bottom-1713287430 svg {
     position: relative;
     display: block;
     width: calc(106% + 1.3px);
     height: 47px;
     transform: rotateY(180deg);
 }
 
 .custom-shape-divider-bottom-1713287430 .shape-fill {
     fill: var(--svgBackClr);
 }
 
.scrl > a {
   font-size: small;
   display: block;
   color:var(--iconclr);
   text-decoration: none;
   padding-top: 15%;
}

/* projects */
.projcon {
   color:var(--iconclr) !important;
   padding-top: 30vh;
   padding-bottom: 2vh ;
}
p {
   padding: 0.5em;
   margin: 0.5em;
}

 .con {
   border-radius: 0.5em;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.5) ;
   background-color: var(--white);
   color: var(--TxtFontXClr) !important;
 }
 .con:hover {
   transform: scale(1.05);
   transition: transform 0.2s ease;
 }

.foot {
   background-color: var(--footBackclr);
   color: var(--TxtFontXClr) !important;
   padding: 50px;
   letter-spacing: 0.125em;
   word-spacing: 0.25em;
   position: relative;
   border: none;
   bottom: 0;
   width: auto;
}

#leg {
   font-size: x-small !important;
   position: relative;
   top: 5px;
   letter-spacing: 0.125em;
}
/* Media queries */

/* for medium mobile devices (Tablets) */
@media screen and (min-width: 600px) {
   .headr {
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
   }

   .menurev {
      position: fixed;
      width: 100% !important;
      background-color: var(--menuBar);
      z-index: 1000;
      overflow: hidden;    
      transition: top 1s !important;
   }
   .menupc {
      padding: 0 !important;
   }
   .hide {
      right: 0 !important;
      top: -100% !important;
   }
   .show {
      right: 0 !important;
      top: 2.8em !important;
   }
   .projcon {
      color:var(--iconclr) !important;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr ;
   }
}

/* For large desktop devices */
@media screen and (min-width: 1000px) {
   .headr {
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
   }
   .menupc {
      position: fixed;
      top: 2.8em !important;
      height: 2.5em !important;
      display: flex;
      justify-content: flex-end;
      backdrop-filter: blur(0);
      background-color: var(--topbackclr) !important;
      transition: right 1s;
      z-index: 1000;
      padding-inline: 1rem;
      overflow: visible !important;
   }
   .hide {
      right: 0 !important;
   }
   .show {
      right: 0 !important;
   }
   .scrlStatus {
      top: 80px !important;
   }
      #icn {
   display: var(--hideContent);
   }
   #slsh {
      display: var(--hideContent);
   }
   .propic {
      display: var(--hideContent) !important;
   }
   .lnk {
      margin-right: 56px;
   }
   .morecon {
      margin-left: -10px !important; 
      max-height: 0;
      position: absolute;
      transition:  all .5s ease;
      overflow: hidden !important;
      padding: 0;
      border-radius: 5px;
      background-color: var(--menuCard);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Light shadow */
   }
   .moreconv { 
      max-height: 1000px !important;
      position: absolute;
      transition: all .5s !important;
      padding: 10px;
   }
   .more {
      padding: 15px !important;
   }

   hr { 
      color: var(--iconclr) !important;
      background-color: #0a0a0a !important;
    }
   
   .morecon a:hover hr {
      color: var(--aquamFont) !important;
   }   
     .blr {
     filter: blur(0) !important;
  }
  .projcon {
   color:var(--iconclr) !important;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows:  1fr 1fr 1fr ;
}
  .gtxt {
     font-size: 4.5em !important;
     letter-spacing: 0.1em
  }
  #chev {
     display: none !important;
  }
  .headcon {
      height: fit-content;
  }
  .lnk {
     cursor: pointer;
  }
  #leg {
     float: inline-end;
     font-size: large !important;
     margin: 5px !important;
  }
}